
<style>
.adBnr1-otrBxx2 {
    border:solid rgb(196, 196, 196) 1px; 
    border-radius:4px; 
    width:90%; 
    margin:40px 0px;
    padding:20px; 
}
.adBnr1-otrBxx2:hover {
    border:solid rgb(56, 56, 56) 1px; 
}
.adBnrOtrBxx2,.adBnrOtrBxx22, .adBnrOtrBxx33 {

    width:340px; 
    box-sizing:border-box; 
  

    position:sticky !important; 
    top:80px !important; 
    right:80px; 
}
.adBanner2-OtrBx {
    position: sticky;
    top: 80px;
}
</style>
<div class="adBanner2-OtrBx">

<a href="https://app.nishabharti.in">
<div class="adBnrOtrBxx2 adBnr1-otrBxx2">
    <div class="adBnr1-R1">
    <img src="ad-banner-4.jpg" width="100%" style="border-radius:4px;">
    </div>  
</div>
</a>
<!-- href="https://app.nishabharti.in">
    <div class="adBnrOtrBxx22 adBnr1-otrBxx2">
        <div class="adBnr1-R1">
        <img src="ad-banner-5.jpg" width="100%" style="border-radius:4px;">
        </div>  
    </div>
    </a>
    <a href="https://app.nishabharti.in">
        <div class="adBnrOtrBxx33 adBnr1-otrBxx2">
            <div class="adBnr1-R1">
            <img src="ad-banner-6.jpg" width="100%" style="border-radius:4px;">
            </div>  
        </div>
        </a> -->

<script>



    $(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 00 & y<4800) {
        $('.adBnrOtrBxx2').show();
    } else {
        $('.adBnrOtrBxx2').hide();
    }

});


/*
$(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 1800 & y<3000) {
        $('.adBnrOtrBxx22').fadeIn();
    } else {
        $('.adBnrOtrBxx22').fadeOut();
    }

});
$(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 3000 ) {
        $('.adBnrOtrBxx33').fadeIn();
    } else {
        $('.adBnrOtrBxx33').fadeOut();
    }

});

*/
</script>
    </div>