
<style>
.whatsApSticky {
    position:fixed; 
    bottom:16px; 
    right:100px; 
    display:none; 
}
</style>
<div class="ftrOtrBx" style="min-height:80px; display:flex; align-items:center; justify-content:center;"><p>T&C | About | Jobs | Fork</p></div>
<div class="whatsApSticky"><a href="https://google.com"><img src="https://pngimg.com/uploads/whatsapp/whatsapp_PNG13.png" width="60px;"></a></div>
<script>
    $(document).scroll(function () {
    var y = $(this).scrollTop();
    if (y > 200) {
        $('.whatsApSticky').fadeIn();
    } else {
        $('.whatsApSticky').fadeOut();
    }

});
</script>





<div id="sfc76485usbc6u6wxfjtg89d3qy3qnngc84"></div><script type="text/javascript" src="https://counter2.stat.ovh/private/counter.js?c=76485usbc6u6wxfjtg89d3qy3qnngc84&down=async" async></script><noscript><a href="https://www.freecounterstat.com" title="free counter"><img src="https://counter2.stat.ovh/private/freecounterstat.php?c=76485usbc6u6wxfjtg89d3qy3qnngc84" border="0" title="free counter" alt="free counter"></a></noscript>





